html *
{
    font-family: 'Poppins', sans-serif;
}

/* COLOR SCHEME */
:root {
    --bg-primary: linear-gradient(rgb(199, 58, 58), rgb(212, 116, 116));
    --bg-secondary: white;
    --body-text-color: black;
}

.dark-mode:root {
    --bg-primary: linear-gradient(rgb(0, 0, 0), rgb(22, 22, 22));
    --bg-secondary: rgb(12, 12, 12);
    --body-text-color: rgb(255, 255, 255);    
}

/* TITLE SCREEN */
#dark-mode-switch {
    padding: 0;
    border: none;
    background: none;
    color: white;
}

#title-screen {
    text-align:center;
    color: white;
}

#title {
    margin-top: 140px;
    font-weight: 900;
    font-size: 700%;
}

#title-dotcom {
    font-size: 50%;
}

#scroll-down {
    animation: MoveUpDown 2s linear infinite;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

/* INTRO */
#intro {
    background-color: var(--bg-secondary);
    color: var(--body-text-color);
    text-align: justify;
}

/* FOOTER */
#footer-message {
    padding-top: 10px;
    font-size: 80%;
}

/* BACKGROUNDS, COLORS AND BUTTONS */
.bg-primary {
    background-image: var(--bg-primary);
}

/* OTHER SCREENS */
/*--------600PX--------*/
@media screen and (max-width: 600px) {
    /*Title section*/
    #title {
        padding-top: 70px;
        font-weight: 800;
        font-size: 200%;
    }
    
    #title-dotcom {
        font-size: 50%;
    }

    .lead {
        font-size: 80%;
    }

    /*Intro section*/
    #intro-title {
        font-size: 110%;
    }

    #intro {
        font-size: 80%;
    }
}

/*--------700PX--------*/
@media screen and (max-width: 700px) and (min-width: 601px) {
    /*Title section*/
    #title {
        font-weight: 800;
        font-size: 400%;
    }
    
    #title-dotcom {
        font-size: 50%;
    }

    .lead {
        font-size: 90%;
    }

    /*Intro section*/
    #intro-title {
        font-size: 110%;
    }

    #intro {
        font-size: 80%;
    }
}

/*--------1000PX--------*/
@media screen and (max-width: 1000px) and (min-width: 701px) {
    /*Title section*/
    #title {
        font-weight: 900;
        font-size: 500%;
    }
    
    #title-dotcom {
        font-size: 50%;
    }

    .lead {
        font-size: 90%;
    }

    /*Intro section*/
    #intro-title {
        font-size: 110%;
    }

    #intro {
        font-size: 80%;
    }
}